{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-10 col-md-offset-1">

<div class="col-md-12 mp-headings text-center blocks">
<h1>Inspired by <span>Genius</span> - Driven by <span>Passion</span></h1>
<h3>This is the way of the world of <span>Steve Shead</span></h3>
<p>"<em>...doing the right thing, the right way with inclusion and vision...</em>"</p>
</div>

<div class="col-md-12 blocks template">
<h2 class="text-center"><span><i class="fa fa-cog"> </i> </span>Services <span>Page</span></h2>
</div>


  </div>
</div>

<div class="col-md-10 col-md-offset-1 blocks">
    <div class="row">
      <div class="col-md-4">
        <div class="box">
          <div class="box-icon"> <span class="fa fa-4x fa-html5"></span> </div>
          <div class="info">
            <h4 class="text-center">HTML5</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing tempor lorem ipsum dolor.</p><br>
            <button class="btn btn-primary">Read More</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box">
          <div class="box-icon"> <span class="fa fa-4x fa-css3"></span> </div>
          <div class="info">
            <h4 class="text-center">CSS3</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing tempor lorem ipsum dolor.</p><br>
            <button class="btn btn-primary">Read More</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box">
          <div class="box-icon"> <span class="fa fa-4x fa-code"></span> </div>
          <div class="info">
            <h4 class="text-center">CODE</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing tempor lorem ipsum dolor.</p><br>
            <button class="btn btn-primary">Read More</button>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="col-md-10 col-md-offset-1 blocks template">
  <h2 class="text-center">Next <span>Block</span></h2>
</div>
{% endblock %}
