{% load tags wagtailcore_tags %}
{% get_site_root as site_root %}

{# Implementation of bootstrap theme dropdown menu - shows top level links and their children #}
<div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {# Link to home page #}
            <a href="{% pageurl site_root %}" class="navbar-brand" title="{{ site_root.title }}" data-placement="bottom">
                <div class="navbar-brand">SIMPLE<span>DESIGN</span></div>
                <a class="home-link" href="{% pageurl site_root %}">HOME</a>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="{% if request.path == '/blog/' %}active{% endif %}">
                <a href="/blog">News</a>
              </li>
              <li class="{% if request.path == '/services/' %}active{% endif %}">
                <a href="/services">Services</a>
              </li>
              <li class="{% if request.path == '/template/' %}active{% endif %}">
                <a href="/template">Template</a>
              </li>
              <li class="{% if request.path == '/contact/' %}active{% endif %}">
                <a href="/contact">Contact</a>
              </li>
            </ul>
            <form class="navbar-form navbar-right" role="search" action="{% url 'search' %}" method="get">
              <div class="social-networks">
                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
            </div>
            </form>
        </div>
    </div>
</div>
