{% extends "base.html" %}
{% load wagtailcore_tags %}


{% block content %}
<div class="col-md-10 col-md-offset-1 mp-headings text-center blocks">
<h1>Inspired by <span>Genius</span> - Driven by <span>Passion</span></h1>
<h3>This is the way of the world of <span>Steve Shead</span></h3>
<p>"<em>...doing the right thing, the right way with inclusion and vision...</em>"</p>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1 blog-post">
    {% include 'blog/blog_post.html' with blog=self %}
    {% if COMMENTS_APP == 'django_comments_xtd' %}
        {% include 'blog/blog_post_comments_xtd.html' with blog=self %}
    {% endif %}
  </div>
</div>
{% endblock %}
