{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<section class="contact-app">
<div class="container">
  <div class="row">

    <div class="col-md-12 mp-headings text-center blocks">
      <h1>Inspired by <span>Genius</span> - Driven by <span>Passion</span></h1>
      <h3>This is the way of the world of <span>Steve Shead</span></h3>
      <p>"<em>...doing the right thing, the right way with inclusion and vision...</em>"</p>
    </div>

    <div class="col-md-12 blocks template">
      <h2 class="text-center"><span><i class="fa fa-envelope-o"> </i> </span>Contact <span>Page</span></h2>
    </div>

    <div class="col-md-12 blocks">

    <div class="col-md-7">
      <h2>Contact Details</h2>
      <p>Free free to send us a note. We will endeavor to get back to you within 24hrs. Also, we promise we will never use your email address for anything other than to chat with you, nothing more, nothing less, period, full stop - Thank You!</p>
      <iframe class="gmap" src="//www.google.com/maps/embed/v1/place?q=San%20Jose,California,%20USA&zoom=14&key=AIzaSyA7sJOlbThz4QfXqWrAvfwljKTwdu-5gfA" width="100%" height="350"></iframe>
    </div>
    <div class="col-md-4 col-md-offset-1">

    <h2>{% block form_heading %}{% endblock %}</h2>
      {% block form %}
      {% endblock %}
    </div>
    </div>
  </div>
</div>
</section>

{% endblock %}
