{% extends "base.html" %}

{% block content %}
<section class="thank_you">
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="jumbotron">
        <h1>Thank You!</h1>
          <p class="lead">We've received your<strong> subscription </strong>request.</p>
          <i class="fa fa-envelope-o fa-5x"></i>
          <br />
          <p>Welcome to our Newsletter.</p>
        <p class="lead">
          <a class="btn btn-deep-orange" href="/" role="button">Homepage</a>
          <a class="btn btn-default" href="/signup/" role="button">Register</a>
        </p>
      </div>
    </div>
  </div>
</div>
</section>

{% endblock %}
